{% extends "base.html" %}
{% block title %}Play | Bulls & Cows{% endblock %}

{% block body %}
<div class="game-arena">
    <div class="center-banner">
      <span class="main-mascots">🐂&🐄</span>
      <div class="main-banner-text">Ready to Play?</div>
    </div>
    <div class="instructions-card">
      <div>
        <b>Instructions:</b><br>
        Guess the secret <b>4-digit number</b>.<br>
        <span>🐂</span> = right digit, right spot<br>
        <span>🐄</span> = right digit, wrong spot<br>
        Only one puzzle a day. Good luck, codebreaker!
      </div>
    </div>
    <form class="game-start-form" method="POST" action="/start">
      <button class="start-btn" type="submit">Start Game 🎲</button>
    </form>
</div>
{% endblock %}